html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: rgb(194, 194, 194);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(26, 26, 26));
  background-size: 100%;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__status {
  margin-bottom: 1em;
}

button {
  color: #686868;
  background: #a7a7a700;
  border-style: none;
}

button :hover {
  color: #29680b;
  background: #a7a7a700;
  border-style: none;
}

button :active {
  color: #686868;
  background: #a7a7a700;
  border-style: none;
}

.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 20%;
  max-height: 10%;
}

.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}

.now-playing__side {
  margin-left: 5%;
  width: 45%;
}

/** Progress **/

.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress__bar {
  background-color: #eee;
  height: 4px;
}

#groover .navlinks {
  font-family: 'Comfortaa', cursive;
  color: rgb(83, 138, 28);
}

.player {
  position: fixed;
  bottom: 0%;
  margin: auto;
  width: 100%;
  padding: 4px;
  border-style: solid;
  color: rgb(211, 211, 211);
  background-color: #302f2f;
  border-width: 2px;
}

.songList {
  margin-bottom: 30%;
}

.tableHeaders {
  font-weight: bold;
}

.brand-logo {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1db954;
  padding: 4px;
}
